body, h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
}

.main-area {
  background: #0F92EA;
}

.list-inline-item li:hover i a {
  color: #0F92EA;
}

.banner-section .carousel-caption {
  text-align: start;
  width: 100%;
  vertical-align: middle;
  margin-left: -90px;
  margin-bottom: 200px;
}

.visually-hidden {
  background: url(img/left.png);
  width: 33px;
  height: 25px;
  display: inline-block;
  background-color: #0F92EA;
}

.carousel-indicators {
  z-index: -999999;
}

.campus-section {
  margin-top: -52px;
  z-index: 999999;
}

.venu .venu-left {
  width: 334px;
  display: inline-block;
  height: 250px;
}

.venu .venu-left .small-p {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  position: absolute;
  top: 10px;
  left: 12px;
  display: inline-block;
}

.venu .venu-right {
  width: 334px;
  height: 250px;
}

.venu .venu-mid {
  width: 460px;
  height: 250px;
  background: #f9f9f9;
}

.venu .venu-mid h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.venu .venu-mid p {
  font-size: 14px;
  color: #463a3a;
  position: relative;
}

.venu .venu-mid p::after {
  position: absolute;
  content: "";
  top: -94px;
  left: -24px;
  background: #e6e0e0;
  width: 18px;
  height: 250px;
}

.venu .venu-mid p::before {
  position: absolute;
  content: "";
  top: -94px;
  left: 422px;
  background: #e6e0e0;
  width: 18px;
  height: 250px;
}

.number-section {
  text-align: center;
  background: url(img/home-section5-bg.jpg);
  padding: 80px 0;
  margin: 70px 0;
}

.number-section .in-number {
  width: 17%;
  color: #fff;
  border: 1px solid #0F92EA;
  border-radius: 50%;
  height: 200px;
  margin-left: 30px;
  font-size: 30px;
}

.number-section .in-number i {
  padding-top: 50px;
}

.pink {
  background-image: url(img/home-section7-bg.jpg);
  padding: 7% 10%;
  text-align: center;
}

.pink .carousel-item .my {
  width: 210px;
  height: 210px;
  background: #0F92EA;
  border: 1px solid #fff;
}

.pink .carousel-item .name {
  padding: 5% 15%;
}

.container .box .image-div {
  width: 260px;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin: 0 px;
}

.container .box .image-div:hover .blank-div {
  opacity: 1;
  visibility: visible;
}

.container .box .image-div img {
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .box .image-div .blank-div {
  width: 100%;
  height: 100%;
  background: rgba(44, 4, 156, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transition: .8s;
  transition: .8s;
}

.container .box .image-div .blank-div:hover i {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.container .box .image-div .blank-div ul {
  margin-left: -23px;
}

.container .box .image-div .blank-div ul li {
  display: inline-block;
}

.container .box .image-div .blank-div ul li a i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */